{% extends 'main.html' %}

{% block content %}
<main class="error-page layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Server Error</h3>
        </div>
      </div>
      <div class="layout__body">
        <h2 class="error__title">500</h2>
        <p class="error__subtitle">Something went wrong on our end</p>
        <p class="error__description">
          We're experiencing technical difficulties. Please try again later.
        </p>
        <div class="error__actions">
          <a href="{% url 'home' %}" class="btn btn--main">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"></path>
            </svg>
            Return Home
          </a>
          <button onclick="window.location.reload()" class="btn btn--dark">
            Refresh Page
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}