{% extends "main.html" %} 
{% load static %}
{% block content %}
  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      {% include 'base/topics_component.html' %}
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              {% if user.profile.profile_pic %}
                <img src="{{ user.profile.profile_pic.url }}" alt="Profile Picture" />
              {% else %}
                <img src="{% static 'images/avatar.svg' %}" alt="Default Avatar" />
              {% endif %}
            </div>
          </div>

          <div class="profile__info">
            <h3> {{user.username}} </h3>
            <p>@{{user.username}} </p>
            {% if request.user == user %}
            <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
              {{ user.profile.about|default:"No information provided." }}
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>{{user.username}} Study Rooms you're in </a>
            </h2>
          </div>
        </div>

        {% include 'base/feed_component.html' %}
        
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      {% include 'base/activity_component.html' %}
      <!-- Activities End -->
    </div>
  </main>
  {% endblock content %}